In [2]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt

In [3]:
dataframe = pd.read_csv("EURUSD_Ticks_26.11.2018-26.11.2018.csv")

In [4]:
dataframe.head()

                         Local time      Ask      Bid  AskVolume  BidVolume
0  26.11.2018 00:00:00.439 GMT-0500  1.13456  1.13454       1.00       1.00
1  26.11.2018 00:00:00.760 GMT-0500  1.13454  1.13452       1.00       1.57
2  26.11.2018 00:00:01.307 GMT-0500  1.13454  1.13451       1.25       1.69
3  26.11.2018 00:00:01.580 GMT-0500  1.13456  1.13451       2.06       4.20
4  26.11.2018 00:00:02.158 GMT-0500  1.13455  1.13452       2.81       1.69

In [ ]:
df_ask = dataframe[["Local time", "Ask", "AskVolume"]]
df_ask["Local time"] = pd.to_datetime(df_ask["Local time"], errors="coerce")

In [6]:
df_ask.head()

                         Local time      Ask  AskVolume
0  26.11.2018 00:00:00.439 GMT-0500  1.13456       1.00
1  26.11.2018 00:00:00.760 GMT-0500  1.13454       1.00
2  26.11.2018 00:00:01.307 GMT-0500  1.13454       1.25
3  26.11.2018 00:00:01.580 GMT-0500  1.13456       2.06
4  26.11.2018 00:00:02.158 GMT-0500  1.13455       2.81

In [7]:
df_bid = dataframe[["Local time", "Bid", "BidVolume"]]

In [8]:
df_bid.head()

0        26.11.2018 00:00:00.439 GMT-0500
1        26.11.2018 00:00:00.760 GMT-0500
2        26.11.2018 00:00:01.307 GMT-0500
3        26.11.2018 00:00:01.580 GMT-0500
4        26.11.2018 00:00:02.158 GMT-0500
5        26.11.2018 00:00:02.365 GMT-0500
6        26.11.2018 00:00:02.529 GMT-0500
7        26.11.2018 00:00:03.099 GMT-0500
8        26.11.2018 00:00:03.611 GMT-0500
9        26.11.2018 00:00:04.133 GMT-0500
10       26.11.2018 00:00:04.793 GMT-0500
11       26.11.2018 00:00:07.154 GMT-0500
12       26.11.2018 00:00:07.764 GMT-0500
13       26.11.2018 00:00:12.126 GMT-0500
14       26.11.2018 00:00:12.645 GMT-0500
15       26.11.2018 00:00:12.857 GMT-0500
16       26.11.2018 00:00:14.404 GMT-0500
17       26.11.2018 00:00:15.603 GMT-0500
18       26.11.2018 00:00:16.345 GMT-0500
19       26.11.2018 00:00:16.917 GMT-0500
20       26.11.2018 00:00:18.145 GMT-0500
21       26.11.2018 00:00:18.418 GMT-0500
22       26.11.2018 00:00:18.471 GMT-0500
23       26.11.2018 00:00:19.009 GMT-0500
24       26.11.2018 00:00:19.557 GMT-0500
25       26.11.2018 00:00:20.179 GMT-0500
26       26.11.2018 00:00:20.316 GMT-0500
27       26.11.2018 00:00:20.485 GMT-0500
28       26.11.2018 00:00:21.039 GMT-0500
29       26.11.2018 00:00:23.757 GMT-0500
                       ...
88465    26.11.2018 23:59:29.252 GMT-0500
88466    26.11.2018 23:59:30.110 GMT-0500
88467    26.11.2018 23:59:30.681 GMT-0500
88468    26.11.2018 23:59:31.192 GMT-0500
88469    26.11.2018 23:59:32.245 GMT-0500
88470    26.11.2018 23:59:32.764 GMT-0500
88471    26.11.2018 23:59:33.604 GMT-0500
88472    26.11.2018 23:59:34.562 GMT-0500
88473    26.11.2018 23:59:37.262 GMT-0500
88474    26.11.2018 23:59:38.815 GMT-0500
88475    26.11.2018 23:59:39.361 GMT-0500
88476    26.11.2018 23:59:42.154 GMT-0500
88477    26.11.2018 23:59:42.705 GMT-0500
88478    26.11.2018 23:59:43.284 GMT-0500
88479    26.11.2018 23:59:43.948 GMT-0500
88480    26.11.2018 23:59:45.622 GMT-0500
88481    26.11.2018 23:59:46.167 GMT-0500
88482    26.11.2018 23:59:47.164 GMT-0500
88483    26.11.2018 23:59:47.462 GMT-0500
88484    26.11.2018 23:59:47.779 GMT-0500
88485    26.11.2018 23:59:48.321 GMT-0500
88486    26.11.2018 23:59:48.736 GMT-0500
88487    26.11.2018 23:59:48.892 GMT-0500
88488    26.11.2018 23:59:49.294 GMT-0500
88489    26.11.2018 23:59:49.832 GMT-0500
88490    26.11.2018 23:59:50.430 GMT-0500
88491    26.11.2018 23:59:52.215 GMT-0500
88492    26.11.2018 23:59:52.743 GMT-0500
88493    26.11.2018 23:59:54.765 GMT-0500
88494    26.11.2018 23:59:57.252 GMT-0500
Name: Local time, Length: 88495, dtype: object

In [ ]:
fig, ax = plt.subplots()
ax.plot(df_ask["Local time"], df_ask["Ask"])
# ax.plot(df_bid["Local time"], df_bid["Bid"])
ax.set(xlabel='Local time', ylabel='Ask)',
       title='Tiempo vs Valor')
ax.grid()
fig.savefig("test.png")
plt.show()

In [ ]:
df_ask.index