In [1]:
import numpy as np
import pandas as pd

In [3]:
# 2) Crear un vector de ceros de tamaño 10
vector_de_ceros = np.zeros(10)
vector_de_ceros

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [38]:
# 3) Crear un vector de ceros de tamaño 10 y el de la posicion 5 sea igual a 1
vector_de_ceros = np.zeros(10)
vector_de_ceros[4] = 1
vector_de_ceros

array([0., 0., 0., 0., 1., 0., 0., 0., 0., 0.])

In [11]:
# 4) Cambiar el orden de un vector de 50 elementos, el de la posicion 1 es el de la 50 etc.
# vector_normal = [x for x in range(50)]
vector_normal = np.arange(50)
vector_invertido = np.flip(vector_normal)
vector_invertido

array([49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33,
       32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16,
       15, 14, 13, 12, 11, 10,  9,  8,  7,  6,  5,  4,  3,  2,  1,  0])

In [13]:
# 5) Crear una matriz de 3 x 3 con valores del cero al 8
matriz_3x3 = np.arange(9).reshape((3, 3))
matriz_3x3

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [39]:
# 6) Encontrar los indices que no sean cero en un arreglo
np.where(vector_de_ceros != 0)

(array([4]),)

In [15]:
# 7) Crear una matriz de identidad 3 x 3
matriz_identidad = np.identity(3)
matriz_identidad

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [17]:
# 8) Crear una matriz 3 x 3 x 3 con valores randomicos
matriz_randomica = np.random.rand(3, 3, 3)
matriz_randomica

array([[[0.33127099, 0.8202995 , 0.96663422],
        [0.37877842, 0.43468614, 0.31112273],
        [0.13879658, 0.2854325 , 0.65907926]],

       [[0.29229552, 0.97158667, 0.30000288],
        [0.27107944, 0.14372955, 0.16716491],
        [0.62294785, 0.49882776, 0.21287675]],

       [[0.72988825, 0.80061199, 0.70378322],
        [0.62557773, 0.85563257, 0.95453024],
        [0.85372432, 0.5654634 , 0.05666741]]])

In [23]:
# 9) Crear una matriz 10 x 10 y encontrar el mayor y el menor
matriz_1010  = np.random.rand(10, 10)
matriz_1010.max(), matriz_1010.min(), matriz_1010

(0.986635234968758,
 0.002774803302214912,
 array([[0.03023616, 0.45675401, 0.05878794, 0.97574152, 0.84660224,
         0.8247978 , 0.8987089 , 0.63570903, 0.96688578, 0.67345626],
        [0.4927529 , 0.95976995, 0.92031491, 0.52609814, 0.42193286,
         0.05419422, 0.27952406, 0.13124718, 0.08470182, 0.55101304],
        [0.87683135, 0.24670455, 0.82663008, 0.29047224, 0.64038643,
         0.48290633, 0.40523225, 0.84841277, 0.36045839, 0.42940824],
        [0.16777585, 0.40639807, 0.89810558, 0.94182928, 0.57668641,
         0.1319134 , 0.63288954, 0.34296321, 0.91560126, 0.328177  ],
        [0.03624576, 0.67531731, 0.46037889, 0.52272435, 0.28537045,
         0.40935368, 0.48490179, 0.02073615, 0.61944256, 0.61475347],
        [0.33036792, 0.60887406, 0.93178691, 0.47531775, 0.76352932,
         0.41453604, 0.82759467, 0.13697233, 0.85417122, 0.58429363],
        [0.79867299, 0.53906735, 0.07779568, 0.00531779, 0.96400129,
         0.63431184, 0.82679241, 0.59338455, 0.63057022, 0.0027748 ],
        [0.15598775, 0.16746942, 0.70542081, 0.34769605, 0.29141396,
         0.87719063, 0.07131914, 0.46520795, 0.21793359, 0.22015502],
        [0.48309306, 0.24586423, 0.95309487, 0.17593929, 0.98663523,
         0.85965237, 0.49660332, 0.67377178, 0.840497  , 0.59160034],
        [0.26240484, 0.00408481, 0.87133195, 0.95604529, 0.16220665,
         0.08710139, 0.84821712, 0.06102003, 0.30597375, 0.80630219]]))

In [ ]:
# 10) Sacar los colores RGB unicos en una imagen (cuales rgb existen ej: 0, 0, 0 - 255,255,255 -> 2 colores)

from scipy import misc
mapache = misc.face()

#new_array = [tuple(row) for row in mapache]
mapache
# np.unique(new_array)

In [28]:
# 11) ¿Como crear una serie de una lista, diccionario o arreglo?
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

serie_from_list = pd.Series(mylist)
serie_from_array = pd.Series(myarr)
serie_from_dict = pd.Series(mydict)

{'Lista': serie_from_list, 'Arreglo': serie_from_array, 'Diccionaio': serie_from_dict}

{'Lista': 0     a
 1     b
 2     c
 3     e
 4     d
 5     f
 6     g
 7     h
 8     i
 9     j
 10    k
 11    l
 12    m
 13    n
 14    o
 15    p
 16    q
 17    r
 18    s
 19    t
 20    u
 21    v
 22    w
 23    x
 24    y
 25    z
 dtype: object, 'Arreglo': 0      0
 1      1
 2      2
 3      3
 4      4
 5      5
 6      6
 7      7
 8      8
 9      9
 10    10
 11    11
 12    12
 13    13
 14    14
 15    15
 16    16
 17    17
 18    18
 19    19
 20    20
 21    21
 22    22
 23    23
 24    24
 25    25
 dtype: int64, 'Diccionaio': a     0
 b     1
 c     2
 e     3
 d     4
 f     5
 g     6
 h     7
 i     8
 j     9
 k    10
 l    11
 m    12
 n    13
 o    14
 p    15
 q    16
 r    17
 s    18
 t    19
 u    20
 v    21
 w    22
 x    23
 y    24
 z    25
 dtype: int64}

In [31]:
# 12) ¿Como convertir el indice de una serie en una columna de un DataFrame?
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)
# Transformar la serie en dataframe y hacer una columna indice

dataframe_from_serie = ser.to_frame().reset_index()
dataframe_from_serie

   index   0
0      a   0
1      b   1
2      c   2
3      e   3
4      d   4
5      f   5
6      g   6
7      h   7
8      i   8
9      j   9
10     k  10
11     l  11
12     m  12
13     n  13
14     o  14
15     p  15
16     q  16
17     r  17
18     s  18
19     t  19
20     u  20
21     v  21
22     w  22
23     x  23
24     y  24
25     z  25

In [33]:
# 13) ¿Como combinar varias series para hacer un DataFrame?
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

dataframe_from_2series = pd.DataFrame(dict(ser1=ser1, ser2=ser2))
dataframe_from_2series

   ser1  ser2
0     a     0
1     b     1
2     c     2
3     e     3
4     d     4
5     f     5
6     g     6
7     h     7
8     i     8
9     j     9
10    k    10
11    l    11
12    m    12
13    n    13
14    o    14
15    p    15
16    q    16
17    r    17
18    s    18
19    t    19
20    u    20
21    v    21
22    w    22
23    x    23
24    y    24
25    z    25

In [37]:
# 14) ¿Como obtener los items que esten en una serie A y no en una serie B?
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
serie_excluida = ser1.append(ser2)
serie_excluida

0    1
1    2
2    3
3    4
4    5
0    4
1    5
2    6
3    7
4    8
dtype: int64

In [ ]:
# 15) ¿Como obtener los items que no son comunes en una serie A y serie B?
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [ ]:
# 16) ¿Como obtener el numero de veces que se repite un valor en una serie?
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

In [ ]:
# 17) ¿Como mantener los 2 valores mas repetidos de una serie, y a los demas valores cambiarles por 0 ?
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))

In [ ]:
# 18) ¿Como transformar una serie de un arreglo de numpy a un DataFrame con un shape definido?
ser = pd.Series(np.random.randint(1, 10, 35))
shape(7,5)

In [ ]:
# 19) ¿Obtener los valores de una serie conociendo la posicion por indice?
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]
# a e i o u

In [ ]:
# 20) ¿Como anadir series vertical u horizontalmente a un DataFrame?
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

In [ ]:
# 21)¿Obtener la media de una serie agrupada por otra serie?
frutas = pd.Series(np.random.choice(['manzana', 'banana', 'zanahoria'], 10))
pesos = pd.Series(np.linspace(1, 10, 10))
print(pesos.tolist())
print(frutas.tolist())
#> [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
#> ['banana', 'carrot', 'apple', 'carrot', 'carrot', 'apple', 'banana', 'carrot', 'apple', 'carrot']

# Los valores van a cambiar por ser random
# apple     6.0
# banana    4.0
# carrot    5.8
# dtype: float64

In [ ]:
# 22)¿Como importar solo columnas especificas de un archivo csv?
# https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv